<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>LA確認テスト</title>
	<link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
	<h1>LA確認テスト</h1>
	
	<div>
		<form action="/add_title" method="post">
			<input type="text" name="title" placeholder="見出しを入力してね！" value="<%= @title %>">
			<button type="submit">更新</button>
		</form>
		<h2><%= @number %></h2>
		<form action="/add" method="post">
			<input type="submit" value="+">
		</form>
		<form action="/minus" method="post">
			<input type="submit" value="-">
		</form>
		<form action="/clear" method="post">
			<input type="submit" value="CLEAR">
		</form>
		<form action="/multiple" method="post">
			<input type="submit" value="*2">
		</form>
		<form action="/divide" method="post">
			<input type="submit" value="/2">
		</form>
	</div>
	
	<div>
		<h2><%= @number2 %></h2>
		<form action="/add2" method="post">
			<input type="submit" value="+">
		</form>
	</div>
</html>
