<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>LA確認テスト</title>
	<link rel="stylesheet" href="/assets/css/count.css">
</head>
<body>
	<h1>LA確認テスト</h1>
	
	<div>
		<h2><%= @number %></h2>
		<form action="/count" method="post">
			<input type="submit" value="+">
		</form>
	</div>
</html>
